.App {
  margin: 0rem 2rem;
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.App-button {
  text-align: center;
  background-color: green;
  padding: 1rem;
  margin: 1rem 5rem;
}

.App-button:hover {
  text-align: center;
  background-color: lightgreen;
  color: black;
  cursor: pointer;
}

.horizontal-rule {
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.layout-left {
  border-right: 2px solid white;
}

.form-div {
  display: grid;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.playlist-item {
  display: grid;
  grid-template-columns: 1fr 0.25fr 0.25fr .25fr;
  background-color: green;
  margin: 1rem 0;
}

.playlist-item:hover {
  cursor: pointer;
  background-color: lightgreen;
  color: black;
}

.playlist-item svg {
  font-size: 1.2rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.25rem 0.25rem;
}

.playlist-item svg:hover {
  color: red;
  cursor: pointer;
  padding: 0.25rem 0.25rem;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button {
  align-items: end;
  justify-content: end;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinnerContainer {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#mainContainer {
  display: block;
}

/* source for side bar animations: https://www.gradient-animator.com/ */
.App-background {
  background: linear-gradient(237deg, #14a42a, #1faed4);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 7s ease infinite;
  -moz-animation: AnimationName 7s ease infinite;
  -o-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}